$blue: darken(#65c7f7, 15%);
$dark-gray: #444;
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.1rem;
	outline: none;
	// overflow-x: hidden;
}

body {
	font-family: 'Catamaran', sans-serif;
	line-height: 1.6;
	color: #333;
	font-size: 1.1rem;
	// overflow: hidden;
	overflow-x: hidden;
}

.mb-0 {
	margin-bottom: 5px;
}
.mb-1 {
	margin-bottom: 10px;
}
.mb-2 {
	margin-bottom: 15px;
}
.mb-3 {
	margin-bottom: 20px;
}
.mb-4 {
	margin-bottom: 25px;
}
.mb-5 {
	margin-bottom: 75px;
}
.btn-round {
	border-radius: 60px;
}
.container {
	max-width: 1200px;
	margin: auto;
	width: 90%;
	padding: 0 2rem;
}

.center {
	text-align: center;
}

h1 {
	font-weight: bolder;
	font-size: 2.6rem;
	letter-spacing: 1.5px;
}
h6 {
	font-size: 1.1rem;
	font-weight: 100;
	line-height: 2.5rem;
}

hr {
	margin-left: -30px;
	border: none;
	height: 5px;
	background: $blue;
	width: 10%;
	border-radius: 2px;
}
p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	line-height: 2.5rem;
	font-size: 1.2rem;
}

.navbar {
	display: flex;
	justify-content: center;
	height: 80px;
	font-size: 1.2rem;

	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.logo {
		width: 60px;
		cursor: pointer;
	}
	ul {
		justify-self: flex-end;
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
	}
	a {
		color: #444;
		text-decoration: none;
		padding: 25px 20px;
		&:hover {
			color: #555;
			border-bottom: solid 4px $blue;
		}
	}
	.resume-btn {
		margin-left: 5px;
		border-style: none;
		padding: 10px 20px;
		border-radius: 30px;
		background: white;
		border: solid 3px $blue;
		color: $blue;
		font-size: 1rem;
		transition: background .3s ease-in-out, transform .3s ease-in-out;
		outline: none;
		font-weight: 600;

		a {
			// margin-left: -15px ;
			color: #444;
			text-decoration: none;
			padding: none;
			transition: color .3s ease-out;
			&:hover {
				color: white;
				border-bottom: none;
			}
		}
		&:hover {
			transform: scale(0.97);
			color: white;
			background: $blue;
		}
		&:active {
			background: darken($blue, 15%);
		}
	}
}

.showcase {
	height: 600px;
	background: url(../img/img.jpg);
	background-origin: top;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 23% 100%, 0 80%);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&::after {
		z-index: -1;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		//  background:radial-gradient( transparent 50%, black ) ;
		// background: rgba(black, $alpha:.5);
	}

	.showcase-info {
		z-index: 2;
		color: white;
		h1 {
			font-size: 4rem;
			letter-spacing: 2px;
			line-height: 3.5rem;
		}
		h3 {
			font-size: 2rem;
			letter-spacing: 1.5px;
			color: $blue;
		}
		p {
			font-size: 1.3rem;
		}
	}
}

.aboutMe {
	height: auto;
	min-height: 830px;
	padding: 170px 0 100px 0;
	clip-path: polygon(0 0, 23% 15%, 100% 0, 100% 85%, 23% 100%, 0 85%);
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../img/pic-bg.jpg);
		background-size: cover;
		background-origin: center;
		z-index: -1;
		opacity: 0.5;
	}
	.arrow-2 {
		background: black;
	}
	.aboutMe-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		grid-gap: 30px 20px;
		.info P {
			position: relative;
			// background: rgba(255, 255, 255, 0.199);
			// backdrop-filter: blur(1000rem);
		}
		.picture {
			display: flex;
			justify-content: center;
			align-content: center;

			img {
				max-height: 350px;
				height: auto;
				width: 350px;
				border-radius: 50%;
				margin: 5px;
				padding: 10px;
			}
		}

		button {
			border-style: none;
			padding: 15px 0;
			width: 170px;
			position: relative;
			cursor: pointer;
			background: $blue;
			color: white;
			font-size: 1rem;
			font-weight: bold;
			transition: background-color .4s;
			&:hover {
				background-color: darken($blue, 15%);
			}
		}
	}
}
.gray-bg {
	background: $dark-gray;
}
.t-arrow {
	height: 100px;
	clip-path: polygon(0 0, 23% 100%, 100% 0, 100% 100%, 0 100%);
	z-index: -5;
	margin-top: -100px;
}

.b-arrow {
	height: 100px;
	clip-path: polygon(0 0, 23% 100%, 100% 0);
	z-index: -5;
}
.projects-container {
	background: $dark-gray;
	padding: 150px 0;
	color: rgb(230, 230, 230);

	hr {
		margin: auto;
	}
	.project-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 50px 20px;
	}
	.project {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		background: white;
		height: 300px;
		width: 300px;
		position: relative;
		// overflow: hidden;
		border-radius: 5px;

		// .icon-logo{
		// 	position: absolute;
		// 	top: -20px;
		// 	right: -20px;
		// 	height: 10px;
		// 	color: $blue;
		// 	background: $dark-gray;
		// 	padding: 5px;
		// 	border-radius: 50%;
		// 	z-index: 10;
		// }

		.project-img {
			position: absolute;
			top: 0;
			left: 0;
			height: 200px;
			width: 300px;
		}
		.project-info {
			position: absolute;
			height: 100px;
			bottom: 0;
			display: flex;
			justify-items: center;
			align-items: center;

			button {
				border-style: none;
				border-radius: 30px;
				padding: 12px 20px;
				font-size: 1rem;
				color: white;

				&:nth-child(1) {
					background: $blue;
					margin-right: 10px;
					&:hover {
						background: darken($blue, 10%);
					}
				}
				&:nth-child(2) {
					background: $dark-gray;
					&:hover {
						background: darken($dark-gray, 10%);
					}
				}
				// icons inside buttons
				i {
					margin-left: 5px;
				}
			}
		}
	}
}

// Skill Section
.skill-container {
	padding: 150px 0;

	.skill-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 20px;
	}
	.skill {
		text-align: center;
		padding: 10px;
		border-radius: 20px;
		box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.12);

		i {
			color: $blue;
			font-size: 25px;
			margin-right: 10px;
		}

		&:hover,
		&:hover i {
			background: darken($blue, 10%);
			color: white;
		}
	}
}
// Ends Skill Section

// Reach Me
.reach-me {
	padding: 150px 0;
	background: #262626;
	color: white;

	.reach-me-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
		grid-gap: 50px;
	}
	.right-side,
	.left-side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.left-side {
		h1 {
			font-size: 3rem;
		}
	}
	.right-side {
		i {
			position: relative;
			margin: 5px;
			background: #333;
			border-radius: 50%;
			padding: 25px;
			color: #666;
			font-size: 2.2rem;

			&:hover {
				background: white;
				color: $blue;
				box-shadow: 0 0 9px $blue;
				text-shadow: 0 0 3px $blue;
			}
			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	border-radius: 50%;
			// 	background: $blue;
			// 	transition: .5s;
			// 	transform: scale(.9);
			// 	z-index: -1;
			//   }
		}
	}
}

// Ends Skill Section
// Footer Contact Section
.container-2 {
	margin: auto;
	max-width: 1400px;
	width: 90%;
}
.contact-grid {
	padding: 150px 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(3, 1fr));
	grid-auto-rows: auto;
	// max-width: 300px;

	// grid-template-columns: 70% 30%;
	justify-content: space-around;
	margin: auto;
	grid-gap: 2em;
	grid-template-areas: "left left right";

	.left-side {
		grid-area: left;
	}
	.right-side {
		grid-area: right;
	}
}
.contact {
	color: #373a3c;
	p {
		margin: 1rem 0;
		color: #373a3c;
		font-weight: 400;
		letter-spacing: 1.2px;
	}
	i {
		margin-right: 7px;
	}

	.social-media i {
		font-size: 2rem;
		color: #333;
		margin-right: 5px;
		text-shadow: 0px 0px 0px gray;
		&:hover {
			color: #1cb3c8;
			transition: color .2s ease-out;
		}
	}
	.right-side {
		.social-media{
			display: none;
		}
	}
}
.contact-list {
	display: flex;
	flex-direction: row;
	p {
		display: inline;
		flex-direction: row;
	}
	i {
		display: inline;
		flex-direction: row;
	}
}

.copyright {
	padding: 10px;
	text-align: center;
	color: grey;
}

// Scroll-Bar
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: $blue;
	border-radius: 6px;
}
/* Menu Button */
.menu-btn {
	cursor: pointer;
	visibility: hidden;
	.btn-line {
		border-radius: 20px;
		width: 35px;
		height: 5px;
		margin: 0 0 6px 0;
		background: $dark-gray;
	}
}

@media only screen and (max-width: 1100px) {
	// General
	h1 {
		font-size: 2rem;
	}
	h1,
	h3 {
		text-align: center;
	}
	p {
		font-size: 1rem;
	}
	hr {
		margin: 0 auto;
	}
	// Nav bar
	.menu-btn {
		visibility: visible;
	}
	ul li,
	ul button {
		visibility: hidden;
	}
	// Ends Nav bar
	// Showcase
	.showcase {
		p {
			text-align: center;
		}
	}
	// Ends
	// About Me
	.aboutMe button {
		margin: 0 auto;
	}
	// Ends
	// Skills
	.skill-container {
		p {
			text-align: center;
		}
	}
	// Ends

	// Contact Section
	.contact .left-side {
		.social-media{
			display: none;
		}
	}
	
	// Ends
	.contact-grid {
		grid-template-areas:
		 "left left left"
		 "right right right";
	}
}

@media (max-width: 400px) {
	// General
		.container {
			width: 100%;
		}
	// ENDS

		
		
	
	// ENDS
	
	.navbar .nav li a,
	.navbar .nav button {
		display: none;
		visibility: hidden;
	}
}

.reach-me-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	grid-gap: 50px;
}


.aboutMe{
	.aboutMe-grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
	
}
.reach-me {
.reach-me-grid {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	.right-side {
		text-align: center;
		i {
			padding: 20px;
			color: #666;
			font-size: 2rem;

		}
	}
	
}
}


.contact-grid {
	grid-template-areas: "left left left"
	"right right right";
}